@charset "utf-8";
@import "reset";
*{
	margin:0;
	padding:0;
}
html{
	overflow-X: hidden;
	font-family: "微软雅黑";
	background: #f4f4f4;
}
body{
	font-family: "微软雅黑";
	background: #f4f4f4;
}
li,aside{
	cursor: pointer;
}
aside:hover{
	box-shadow:2px 2px 8px #333333;
}
// 导航栏
header{
	background-color:transparent;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	z-index: 100;
	width: 90%;
	margin:0 auto;
	height: 80px;
	padding:0 30px 0 30px;
	.left{
		width: 78%;
		float: left;
		span{
			float: left;
			line-height: 80px;
			font-size: 30px;
			color:white;
			font-weight:900;
		}
		ul{
			float: right;
			overflow: hidden;
			li{
				padding: 0 20px 0 20px;
				color: white;
				font-size: 14px;
				float: left;
				line-height: 80px;
				height: 80px;
				cursor:pointer;
			}
		}
	}
	.right{
		height: 80px;
		float: right;
		position: relative;
		width:21%;
		.iconfont{
			display: inline-block;
			line-height: 80px;
			font-size: 24px;
			color:white;
			position: relative;
			cursor:pointer;
		}
		i:nth-of-type(1){
			color: #ccc;
			font-size: 16px;
			position: absolute;
			top:0px;
			left:148px;
		}
		i:nth-of-type(2){
			#box{
				display: none;
				width: 96px;
				height: 150px;
				background: white;
				position: absolute;
				z-index: 110;
				left:-38px;
				bottom:-135px;
				border-radius: 4px;
				border: 1px solid #ccc;
				box-shadow:1px 2px 3px #E9D985;
				color:rgba(180,180,180,1);
				font-size: 13px;
				text-align: center;
				ul{
					color: black;
					margin-top: 12px;
					li{
						color:black;
						line-height: 33px;
					}
				}	
				#out{
					overflow:hidden;
					width: 0;
					height: 0;
					border-width: 10px;
					border-color: transparent transparent white transparent;
					border-style:solid dashed;
					position: absolute;
					top:-18px;
					left:40px;
					background: transparent;
				}
			}
		}
		i:nth-of-type(3){
			position: relative;
			span{
				width: 14px;
				height: 14px;
				background: red;
				font-size: 14px;
				position: absolute;
				border-radius: 50%;
				top:26px;
				left:18px;
				line-height: 14px;
				text-align: center;
			}
		}
		input{
			float: left;
			margin-top:25px;
			border:0;
			height:28px;
			width: 172px;
			border-radius:15px;
			text-indent: 15px;
			margin-right:10px;
			border:1px solid #ccc;
		}
	}
}
//下拉导航栏
#head{
	width: 100%;
	margin:0 auto;
	height: 0;
	position: absolute;
	z-index: 100;
	background: white;
	overflow: hidden;
	div{
		border-top:1px #ccc solid;
		margin:80px auto;
		overflow: hidden;
		position: relative;
		ul{
			widows: 80px;
			padding: 0 10px 0 50px;
			overflow: hidden;
			margin:0 auto;
			text-align: center;
			li{
				display: inline-block;
				padding:30px 20px 10px 20px;
				text-align: center;
				img{
					width:90px;
					height:90px;
					margin:0 auto;
				}
				span{
					display: block;
					font-size: 14px;
					text-align: center;
				}
				i{
					font-size: 14px;
					color: orange;
					display: block;
					text-align: center;
				}
			}
		}

	}
}
/*设置轮播图显示区域大小*/
#lbt_box{
	height: 666px;
	width:2560px;
	overflow: hidden;
	position: relative;
	margin:0 auto;
}
#lbt_box .lbt{
	overflow: hidden;
	width:2560px;
	margin:0 auto;
}
/*去掉ul ol 默认样式*/
ul,ol,li{
	list-style: none;
}
h1{
	font-size: 30px;
}
/*设置按钮位置*/
.lb_btn{
	display: none;
	height: 20px;
	position: absolute;
	bottom: 10px;
	margin: 0 auto;
}
.lb_btn li{
	float: left;
	width: 10px;
	height: 10px;
	text-align: center;
	margin-right: 16px;
	border-radius: 50%;
	background: white;
	border: 1px solid white;
}
.lbt .lb_img{
	position:absolute;
	left: -645px;
}
.lb_img li{
	width:2560px;
	height: 680px;
	float: left;
	list-style: none;
}
.lb_img li:nth-of-type(1){
	background: url("../images/1.jpg") no-repeat center;
}
.lb_img li:nth-of-type(2){
	background: url("../images/2.jpg") no-repeat center;

}
.lb_img li:nth-of-type(3){
	background: url("../images/3.jpg") no-repeat center;

}
.lb_img li:nth-of-type(4){
	background: url("../images/4.jpg") no-repeat center;

}
.lb_img li:nth-of-type(5){
	background: url("../images/5.jpg") no-repeat center;

}
.lb_img li:nth-of-type(6){
	background: url("../images/6.jpg") no-repeat center;

}
.lb_img li:nth-of-type(7){
	background: url("../images/1.jpg") no-repeat center;

}
.lb_btn .lbt_active{
	background:transparent;
}
//活动页面
#active{
	height:280px;
	margin:0 auto;
	background: white;
	ul{
		width: 1280px;
		margin: 0 auto;
		overflow: hidden;
		li{
			width:320px;
			float: left;
			text-align: center;
			img{
				display: inline-block;
				margin-top:55px;
				width: 130px;
				height:130px;
			}
			p{
				font-size: 20px;
			}
			i{
				font-size: 12px;
				color: #ccc;
			}
			&:nth-of-type(4){
				margin-right:0;
			}
		}
	
	}
}
//手机标题
#titlea{
	height: 100px;
	background: #f4f4f4;
	text-align: center;
	h1{
		color: #515151;
		line-height: 100px;
	}
}
#phoneimg{
	width:1280px;
	margin:0 auto;
	height: 450px;
	img{
		width: 100%;
		margin:0 auto;
		display: block;
		height: 100%;
	}
}
//手机商品栏
#phonebox{
	background: #f4f4f4;
	overflow: hidden;
	padding-top:10px;
	width: 1280px;
	margin:0 auto;
	#phone{
		#top{
			padding-left: 10px;
			height: 620px;
			aside{
				width: 618px;
				height:560px;
				float: left;
				margin-right: 8px;
				padding-top: 60px;
				text-align: center;
				background: white;
				position: relative;
				&:nth-of-type(2){
					margin-right: 0;
				}
				p{
					width:68px;
					height:68px;
					background: #ff456e;
					color: #fff;
					font-size: 20px;
					font-weight: 300px;
					border-radius: 50%;
					line-height: 68px;
					position: absolute;
					top:30px;
					left:30px;
				}
				h3{
					font-size: 30px;
					font-weight: 300;
					text-align: center;
				}
				span{
					display: block;
					font-size: 16px;
					text-align: center;
				}
				i{
					display: block;
					font-size: 18px;
					color:red;
					text-align: center;
					height: 30px;
					line-height: 30px;
				}
				img{
					display:inline-block;
					width: 400px;
					height:400px;
				}
			}
		}
		#bottom{
			height:764px;
			padding-left: 10px;
			aside{
				width:305px;
				height:330px;
				margin-top:10px;
				float: left;
				margin-right: 8px;
				padding-top: 40px;
				text-align: center;
				background: white;
				position: relative;
				&:nth-of-type(1){
					p{
						background: #ff446b;
					}
				}
				&:nth-of-type(5){
					p{
						background: #ff446b;
					}
				}
				p{
					width:60px;
					height:60px;
					background: #3d8ff7;
					color: #fff;
					font-size: 20px;
					font-weight: 300px;
					border-radius: 50%;
					line-height: 60px;
					position: absolute;
					top:30px;
					left:30px;
				}
				h3{
					font-size: 16px;
					line-height: 28px;
					font-weight: 300;
					text-align: center;
				}
				span{
					display: block;
					font-size: 14px;
					line-height: 24px;
					text-align: center;
				}
				i{
					display: block;
					font-size: 18px;
					color:red;
					text-align: center;
					height: 30px;
					line-height: 30px;
				}
				img{
					width: 200px;
					height:200px;
					margin:0 auto;
				}
			}
		}
	}
}
//声学、配件标题
.titleb{
	clear:left;
	height: 96px;
	text-align: center;
	h1{
		color: #515151;
		line-height: 96px;
	}
}
.allimg{
	width:1280px;
	margin:0 auto;
	height: 450px;
	img{
		width: 100%;
		margin:0 auto;
		display: block;
		height: 100%;
	}
}
//声学商品栏
.sxbox{
	width:1280px;
	margin:0 auto;
	padding-left: 10px;
	.lb{
		width:305px;
		height:330px;
		margin-top:10px;
		float: left;
		margin-right: 8px;
		padding-top: 40px;
		text-align: center;
		background: white;
		position: relative;
		&:nth-of-type(1){
			background: url("../images/music/1.jpg") no-repeat;
			background-size: 100%;
			h3{
				padding-top:230px;
				color:white;
				font-weight: 900;
				font-size: 20px;
			}
			span{
				color:white;
			}
			i{
				font-size: 20px;
				font-weight: 600;
				color: #6ad0c4;
			}
		}
		&:nth-of-type(5){
			background: url("../images/music/6.jpg") no-repeat;
			background-size: 100%;
			h3{
				padding-top:230px;
				color:white;
				font-weight: 900;
				font-size: 20px;
			}
			span{
				color:white;
			}
			i{
				font-size: 20px;
				font-weight: 600;
				color: #ebce6b;
			}
		}
		&:nth-of-type(9){
			background: url("../images/music/2.jpg") no-repeat;
			background-size: 100%;
			h3{
				padding-top:230px;
				color:white;
				font-weight: 900;
				font-size: 20px;
			}
			span{
				color:white;
			}
			i{
				font-size: 20px;
				font-weight: 600;
				color: #6ad0c4;
			}
		}
		p{
			width:60px;
			height:60px;
			background: #3d8ff7;
			color: #fff;
			font-size: 20px;
			font-weight: 300px;
			border-radius: 50%;
			line-height: 60px;
			position: absolute;
			top:30px;
			left:30px;
		}
		h3{
			font-size: 16px;
			line-height: 28px;
			font-weight: 300;
			text-align: center;
		}
		span{
			display: block;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			color: #999999;
		}
		i{
			display: inline-block;
			font-size: 18px;
			color:#cc0000;
			text-align: center;
			height: 30px;
			line-height: 30px;
			&:nth-of-type(2){
				font-size: 12px;
				color:black;
				text-decoration:line-through; 
			}
		}
		img{
			width: 200px;
			height:200px;
			margin:0 auto;
		}
	
	}
}
//配件商品栏
.pjbox{
	padding-left: 10px;
	width:1280px;
	margin:0 auto;
	.lb{
		width:305px;
		height:330px;
		margin-top:10px;
		float: left;
		margin-right: 8px;
		padding-top: 40px;
		text-align: center;
		background: white;
		position: relative;
		&:nth-of-type(1){
			background: url("../images/music/3.png") no-repeat;
			background-size: 100%;
			h3{
				padding-top:230px;
				color:white;
				font-weight: 900;
				font-size: 20px;
			}
			span{
				color:white;
			}
			i{
				font-size: 20px;
				font-weight: 600;
				color: #6ad0c4;
			}
		}
		&:nth-of-type(5){
			background: url("../images/music/4.jpg") no-repeat;
			background-size: 100%;
			h3{
				padding-top:230px;
				color:white;
				font-weight: 900;
				font-size: 20px;
			}
			span{
				color:white;
			}
			i{
				font-size: 20px;
				font-weight: 600;
				color: #ebce6b;
			}
		}
		&:nth-of-type(9){
			background: url("../images/music/5.jpg") no-repeat;
			background-size: 100%;
			h3{
				padding-top:230px;
				color:white;
				font-weight: 900;
				font-size: 20px;
			}
			span{
				color:white;
			}
			i{
				font-size: 20px;
				font-weight: 600;
				color: #6ad0c4;
			}
		}
		p{
			width:60px;
			height:60px;
			background: #3d8ff7;
			color: #fff;
			font-size: 20px;
			font-weight: 300px;
			border-radius: 50%;
			line-height: 60px;
			position: absolute;
			top:30px;
			left:30px;
		}
		h3{
			font-size: 16px;
			line-height: 28px;
			font-weight: 300;
			text-align: center;
		}
		span{
			display: block;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			color: #999999;
		}
		i{
			display: inline-block;
			font-size: 18px;
			color:#cc0000;
			text-align: center;
			height: 30px;
			line-height: 30px;
			&:nth-of-type(2){
				font-size: 12px;
				color:black;
				text-decoration:line-through; 
			}
		}
		img{
			width: 200px;
			height:200px;
			margin:0 auto;
		}
	
	}
}
//周边商品栏
.zbbox{
	padding-left: 10px;
	width:1280px;
	margin:0 auto;
	.lb{
		width:305px;
		height:330px;
		margin-top:10px;
		float: left;
		margin-right: 8px;
		padding-top: 40px;
		text-align: center;
		background: white;
		position: relative;
		&:nth-of-type(1){
			background: url("../images/music/31.jpg") no-repeat;
			background-size: 100%;
			h3{
				padding-top:230px;
				color:white;
				font-weight: 900;
				font-size: 20px;
			}
			span{
				color:white;
			}
			i{
				font-size: 20px;
				font-weight: 600;
				color: #6ad0c4;
			}
		}
		&:nth-of-type(5){
			background: url("../images/music/32.jpg") no-repeat;
			background-size: 100%;
			h3{
				padding-top:230px;
				color:white;
				font-weight: 900;
				font-size: 20px;
			}
			span{
				color:white;
			}
			i{
				font-size: 20px;
				font-weight: 600;
				color: #ebce6b;
			}
		}
		p{
			width:60px;
			height:60px;
			background: #3d8ff7;
			color: #fff;
			font-size: 20px;
			font-weight: 300px;
			border-radius: 50%;
			line-height: 60px;
			position: absolute;
			top:30px;
			left:30px;
		}
		h3{
			font-size: 16px;
			line-height: 28px;
			font-weight: 300;
			text-align: center;
		}
		span{
			display: block;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			color: #999999;
		}
		i{
			display: inline-block;
			font-size: 18px;
			color:#cc0000;
			text-align: center;
			height: 30px;
			line-height: 30px;
			&:nth-of-type(2){
				font-size: 12px;
				color:black;
				text-decoration:line-through; 
			}
		}
		img{
			width: 200px;
			height:200px;
			margin:0 auto;
		}
	
	}
}
// 社区商品栏
.sqbox{
	padding-left: 10px;
	width:1280px;
	margin:0 auto;
	.lb{
		width:305px;
		height:330px;
		margin-top:10px;
		float: left;
		margin-right: 8px;
		text-align: center;
		background: white;
		position: relative;
			img:nth-of-type(1){
				width: 305px;
				height:190px;
			}
			span:nth-of-type(2){
				font-size: 12px;
				color:#ccc;
			}
		}
	
}
//fly栏目
.flybox{
	margin:auto;
	width:1280px;
	padding-left:10px;
	aside{
		float: left;
		margin-right: 10px;
	}
	.slb{
		width: 618px;
		height:245px;
		margin-bottom:10px;
		img{
			width: 618px;
			height:245px;
		}
	}
	.aslb{
		width:304px;
		height:248px;
		margin-bottom:10px;
		img{
			width:100%;
			height:190px;
		}
		p{
			font-size: 16px;
			text-align: center;
			color:black;
			height:58px;
			line-height: 58px;
			background: white;
		}
	}
	
}
//精彩视频
.vbox{
	margin:auto;
	width:1280px;
	padding-left:10px;
	aside{
		float: left;
		margin-right: 10px;
	}
	.aslb{
		width:304px;
		height:248px;
		margin-bottom:10px;
		img{
			width:100%;
			height:190px;
		}
		p{
			font-size: 16px;
			text-align: center;
			color:black;
			height:58px;
			line-height: 58px;
			background: white;
		}
	}
	
}
.titlec{
	clear:left;
	height:50px;
}
//网站底部
footer{
	clear:left;
	height:248px;
	margin:auto;
	width:1270px;
	background: white;
	#ftop{
		height:100px;
		padding-top:42px;
		position: relative;
		border-bottom:1px solid #ccc;
		ul{
			float:left;
			li{
				width:150px;
				height:69px;
				text-align: center;
				float: left;
				.iconfont{
					font-size: 35px;
					display:block;
					color:#999999;	
					margin-bottom:8px;
				}
				span{
					font-size: 14px;
					color:#999999;
				}
			}
		}
		#call{
			position: absolute;
			right:10px;
			text-align: right;
			i{
				width:200px;
				display: block;
				font-size: 12px;
				color:#ccc;
				margin-right:10px;
				margin-bottom: 8px;
				text-align: right;
			}
			span{
				display: block;
				color:skyblue;
				font-size: 20px;
				margin-bottom: 8px;
				text-align: right;
				margin-right:8px;
			}
			p{
				height:30px;
				width: 90px;
				border-radius: 15px;
				background: skyblue;
				text-align: center;
				color:white;
				line-height: 30px;
				margin-left:110px;
			}
		}
	}
#fbom{
	ul{
		margin-top:30px;
		li{
			float:left;
			font-size: 12px;
			color:#999999;
			padding:0 12px 0 12px;
			height:12px;
			line-height: 12px;
			border-right:1px solid #ccc;
		}
	}
	span{
		margin-left:10px;
		font-size: 12px;
		color: #999999;
		display: block;
	}
}
}
