@charset "utf-8";
@import "reset";

html,body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', "Arial", "sans-serif";
}
// 头部
header{
    height: 70px;
}
li{
    cursor: pointer;
}
h1{
    line-height: 70px;
    height: 70px;
    font-size: 50px;
    color: #20b8ed;
    margin-left:50px;
}
//登录区域
section{
    width: 1280px;
    height:752px;
    margin: auto;
    background: pink;
    position: relative;
    background:url("../images/login/bg.png") no-repeat left top;
    background-size: 100%;
    //登陆顶部
    #tab{
        width: 370px;
        height: 470px;
        background: white;
        position: absolute;
        top:127px;
        right: 100px;
        ul{
            width: 300px;
            height: 60px;
            margin:0 auto;
            padding-top:70px;
            li{
                float: left;
                font-size: 18px;
                padding: 0 33px 0 33px;
                height: 16px;
                line-height: 18px;
                color: #ccc;
                cursor: pointer;
                &:nth-of-type(1){
                    border-right: 2px solid #ccc;
                    color:black;
                }
            }
        }
    }
    //表单
    #form{
        width: 100%;
        height: 340px;
        background: white;
        #left{
            display: block;
            width: 100%;
            height:100%;
            text-align: center;
            input{
                width: 80%;
                height: 46px;
                font-size: 14px;
                margin-bottom: 20px;
                text-indent: 10px;
            }
            div{
                width: 80%;
                height: 46px;
                background: #ccc;
                margin:auto;
                line-height: 46px;
                margin-bottom: 20px;
                &:nth-of-type(2){
                    background:white;
                    text-align: left;
                    line-height: 0;
                    height: 18px;
                    color: #ccc;
                    vertical-align: center;
                    input{
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                    }
                    label{
                        font-size: 14px;
                        margin-left: 4px;
                        margin-top: -8px;
                        cursor: pointer;
                    }
                    label:hover{
                        color: black;
                    }
                }
                &:nth-of-type(3){
                    background: #387aff;
                    color: white;
                    cursor: pointer;
                }
                &:nth-of-type(4){
                    background: white;
                    height: 20px;
                    line-height: 20px;
                    font-size: 14px;
                    color:#387aff;
                    position: relative;
                    a{
                        position: absolute;
                        color:#387aff;
                        &:nth-of-type(1){
                            left: 0;
                        }
                        &:nth-of-type(2){
                            right: 0;
                        }
                    }
                }
            }

        }
        #right{
            display: none;
            width: 100%;
            height:100%;
            text-align: center;
            img{
                display: block;
                margin:auto;
            }
            p{
                color: #999999;
                font-size: 16px;
                width: 80%;
                margin: 28px auto;
            }
        }
    }
}
// 底部
footer{
    width: 1280px;
    height: 140px;
    margin:auto;
    #top{
        width: 100%;
        height: 84px;
        ul{
            width: 584px;
            height: 84px;
            line-height: 84px;
            margin-left: 60px;
            float: left;
            li{
                display:inline-block;
                font-size: 18px;
                padding:0 10px 0 10px;
                line-height: 8px;
                height: 12px;
                vertical-align: center;
                border-right: 2px solid #ccc;
                &:nth-of-type(6){
                    border-right:none;
                }
            }
        }
        span{
            width: 310px;
            display: block;
            float: right;
            height: 84px;
            line-height: 84px;
        }
        i{
            margin-left: 60px;
            clear: both;
            width: 1280px;
            display: block;
            font-size: 12px;
            color: #999999;
        }
    }
}